[Unit]
Description=ckpool mining pool software

[Service]
User=ckpool
Group=ckpool
PIDFile=/tmp/ckpool.pid
TimeoutStartSec=0
ExecStart=/usr/local/bin/ckpool -c /etc/ckpool/ckpool.conf -k -p -A
ExecReload=/usr/local/bin/ckpool -c /etc/ckpool/ckpool.conf -H -p -A

Restart=always

[Install]
WantedBy=multi-user.target
